body{
    margin: 0;
    padding: 0;
    background-image: url(backgrounimg.png);
background-size: cover;
}
img{
    width: 130px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}


header{
 display: flex;
 background-color: antiquewhite;
 

}
.divon{
    display: flex;
    align-items: center;
}
nav ul{
display: flex;
gap: 40px;
margin-left: 400px;
font-size: 20px;
text-decoration: none;
}
nav ul li a{
    list-style-type: none;
    text-decoration: none;
}

nav ul li:active{
    background-color: aquamarine;
}
nav ul li a:hover{
   color: rgb(33, 20, 215);
    text-decoration: underline 2px ;
    text-underline-offset: 4px;
    transition: 5s ease;

    border-radius: 40%;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
    
   
}
.active{
    color: rgb(9, 9, 9);
    border-bottom: 5px;
    text-decoration: underline;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
}
.aisha{
   height: 100vh;
   align-items: center;
gap: 20px;
   text-align: left;
   margin-top:50px;
   padding: 0;
   display: flex;
   
   
   
   
 

 
 

}
.social{
    display: flex;
    gap: 20px;
    text-align: center;
   
}
.social a{
gap: 10px;
text-align: center;
}
.social p{
    text-align: left;

}
.from{
    background-color: antiquewhite;
    height: 400px;
    width: 400px;
    font-size: large;
    margin-left: 50px;
    box-shadow: 0 5px 10px ;
}
.from strong{
   
   margin-left: 15px;
   

}
.icon{
    margin-top: 20px;
}

.from h2{
    margin-left: 160px;
    padding-bottom: 20px;
}
.from a{
    text-decoration: none;
    color: black;
}
.form{
    background-color: antiquewhite;
    height: 360px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 5px 10px ;
   
    
    
}
.form .input-box input{
 margin-bottom: 10px;
 width: 280px;
 height: 25px;
 border-style: none;
border-bottom-style: solid;
color: rgb(2, 2, 2);
}

.write .input-box input{
padding-bottom: 100px;
}
.buton{
   background-color: antiquewhite;
    padding: 10px;
    border-radius: 90px;
    border-style: none;
    
}
.buton:hover{
background-color: burlywood;
transform: scale(1.2);
transition-duration: 0.4s;
}

