body{
    margin: 0;
    padding: 0;
}
img{
    width: 130px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}


header{
 display: flex;
 background-color: antiquewhite;
 

}
.divon{
    display: flex;
    align-items: center;
}
nav ul{
display: flex;
gap: 40px;
margin-left: 400px;
font-size: 20px;
text-decoration: none;
}
nav ul li a{
    list-style-type: none;
    text-decoration: none;
}

nav ul li:active{
    background-color: aquamarine;
}
nav ul li a:hover{
   color: rgb(33, 20, 215);
    text-decoration: underline 2px ;
    text-underline-offset: 4px;
    transition: 5s ease;

    border-radius: 40%;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
    
   
}
.active{
    color: rgb(9, 9, 9);
    border-bottom: 5px;
    text-decoration: underline;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
}
.aisha{
    margin-top: 100px;
}

