body{
    margin: 0;
    padding: 0;
   background-image: url(backgrounimg.png);
background-size: cover;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    margin-left: 0px;
}


header{
 display: flex;
 background-color: antiquewhite;
 top: 0;
 left: 0;
 width: 100%;
 position: fixed;
 border-radius:20px;
 height: 80px;
z-index: 1000;
}
.divon{
    display: flex;
    align-items: center;
}
nav ul{
display: flex;
gap: 40px;
margin-left: 400px;
font-size: 20px;
text-decoration: none;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li:active{
    background-color: aquamarine;
}
nav ul li a:hover{
   color: rgb(33, 20, 215);
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    transition: 5s ease;

    border-radius: 40%;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
    
   
}
.divone{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 80px;
    font-size: larger;
}
.active{
    color: rgb(8, 8, 8);
    border-bottom: 5px;
    text-decoration: underline;
    transform: scaleX(1.5);
    transition-duration: 1s;
    font-size: larger;
}


.section{
   
    padding: 0;
    margin: 0;
}


.div11{
    display: flex;
    gap: 40px;
    padding: 10px;
    
    text-align: center;
}
.div12{
    display: flex;
    gap: 40px;
    padding: 10px;
    text-align: center;
}
.div13{
    display:flex;
    gap: 20px;
    padding:10px ;
    text-align: center;
}
.div1{
    background-color:white;
    height: 200px;
    width: 50%;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    padding-left: 10px;
}
.div1 img{
    width: 180px;
    height: 200px;
}
.div2{
     background-color:white;
 height: 200px;
 width: 50%;
 border-radius: 6px;
 margin-bottom: 10px;
 padding-left: 10px;
}
.div3{
background-color: white;
 height: 200px;
 width: 50%;
 border-radius: 6px;
 margin-bottom: 10px;
}
.div4{
    background-color:white;
 height: 200px;
 width: 50%;
 border-radius: 6px;
 margin-bottom: 10px;
 display: flex;
}
.div4 img{
     width: 180px;
      height: 200px;
}
.div5{
background-color: white;
 height: 200px;
 width: 50%;
 border-radius: 6px;
 margin-bottom: 10px;
 display: flex;
}

.div5 img{
 width: 180px;
  height: 200px;
}
.div6{
    background-color: white;
 height: 200px;
 width: 50%;
 border-radius: 6px;
 margin-bottom: 10px;
}
.h5{
    
    width: 80%;
    height: 50px;
    
  
    margin-left: 90px;
    border-radius: 20px;
    font-size: 25px;

}
